.main-conteiner{
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 20px;
    width: 500px;
}

.wrapper-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-input{
    width: calc(70% - 6px);
}

.search{
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}

.wrapper-find{
    width: calc(30% - 6px);
}

.find{
    width: 100%;
    height: 30px;
    border: none;
    background-color: rgba(0, 148, 255, 1);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}

@media (min-width: 1400px) {
    .main-conteiner{
        width: 1400px;
    }

    .wrapper-search{
        width: 774px;
    }

    .wrapper-movie-list{
        width: 660px;
    }
}